#banner {
  height: 550px;
  width: 100%;
  border-bottom: 2px solid #8c4c34;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  /* 120% has to be put because the width of the image is 1920 but the width of the window is 1500px approx
  so 100% would be only 1500px so to go overboard  which basically means settings background-size 100% will disable background-position property for the height or width */
}

#bannerDescription {
  height: inherit;
  width: 40%;
  position: relative;
  margin-left: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2em;
}

#bannerIllustration {
  height: 100%;
  width: 550px;
  background-image: url(./img/background_illustration.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
